<!--
  ~ This file is part of EduPortal.
  ~
  ~     EduPortal is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     EduPortal is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with EduPortal.  If not, see <https://www.gnu.org/licenses/>.
  ~
  ~     Copyright Cosme José Nieto Pérez, 2020
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>EduPortal Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <form action="/login" class="card-panel" method="post">
        <h4 class="card-title center-align">EduPortal Login</h4>
        <div class="row alert alert-danger" th:if="${errors != null}">
            <div class="input-field col s12">
                <blockquote th:text="${errors}">
                    <p class="red-text">
                        Please check that your connection is https and this site is part of your school site
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="username" name="username" required type="text">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" id="password" name="password" required type="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="right btn waves-effect waves-light blue lighten-3" type="submit">Log in</button>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <img alt="Logo" height="70" src="" th:src="@{/images/educosystem.png}"/>
                <p>Eduportal is part of the EduEcosystem project</p>
                <blockquote>
                    Please check that your connection is https and this site is part of your school site
                </blockquote>
            </div>
        </div>
    </form>
</div>
</body>
</html>